NOTION_API_KEY=secret_xxx
GOOGLE_TAG_ID=<%= googleTagId %>
SHORT_LINK_REDIRECT_STATUS=<%= shortLinkRedirectStatus %>
HIDE_MOBILE_COVER_IMAGES=false
ALWAYS_USE_SITE_LOGO_FAVICON=false
SHORT_LINKS_JSON=<%- jsonInline(shortLinks) %>
